<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- drools 初始化客户端 -->
    <bean id="droolsClientService" class="com.shaoxi.framework.drools.service.impl.DroolsClientServiceImpl" init-method="initKieServiceClient" lazy-init="true">
        <property name="droolsConfigVO" ref="droolsConfigVO"/>
        <property name="timeout" value="10000"/>
    </bean>

    <bean id="droolsConfigVO" class="com.shaoxi.framework.drools.vo.DroolsConfigVO">
        <property name="serverUrl"      value="${drools.serverUrl}"/>
        <property name="kieContainerId" value="${drools.kieContainerId}"/>
        <property name="userName" value="${drools.userName}"/>
        <property name="passWord" value="${drools.passWord}"/>
    </bean>

<!--    <bean id="droolsClientService" class="com.shaoxi.personal_center.coupons.drools.service.impl.DroolsClientServiceImpl" init-method="initKieServiceClient" lazy-init="true">
    </bean>-->

</beans>